<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @license.product %>
</p>

<p>
  <strong>Key:</strong>
  <%= @license.key %>
</p>

<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
